<div class="cardetail">
    <div class="cardetail-info">
        <div class="cardetail-info-text">
            <h1>{{car.name}}</h1>
            <h2>{{car.plate}}</h2>
        </div>
    </div>
    <div class="cardetail-image">
        <img src="{{car.imgSrc}}">
    </div>
    <div class="cardetail-rides">
        <div class="cardetail-rides-title">
            <h2>Ritten met deze auto</h2>
        </div>
        <div class="cardetail-rides-list">
            <div class="cardetail-rides-list-item" *ngFor="let ride of rides">
                <a routerLink="/ride/{{ride.id}}" class="rideDetailButton cardetail-rides-list-item-link">
                    <h3>{{ride.name}}</h3>
                    <span>{{ride.beginDateTime.toLocaleString()}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="cardetail-addride">
        <a routerLink="/ride/add" class="buttonStyleForAnchor">Plan een rit</a>
        <a routerLink="/car/{{id}}/edit" class="buttonStyleForAnchor">Wijzig auto</a>
    </div>
</div>