<div class="cardetail">
    <div class="cardetail-info">
        <div class="cardetail-info-text">
            <h1>{{car.name}}</h1>
            <h2>{{car.plate}}</h2>
        </div>
    </div>
    <div class="cardetail-image">
        <img src="{{car.imgSrc}}">
    </div>
    <div class="cardetail-rides">

    </div>
    <div class="cardetail-addride">
        <a routerLink="/ride/add" class="buttonStyleForAnchor">Plan een rit</a>
        <a routerLink="/car/{{id}}/edit" class="buttonStyleForAnchor">Wijzig auto</a>
    </div>
</div>