<div class="cardetail">
  <div class="cardetail-loader">
    <div *ngIf="!carDone" class="spinner-grow" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="cardetail-info">
    <div class="cardetail-info-text">
      <h1>{{ car.name }}</h1>
      <h2>{{ car.plate }}</h2>
    </div>
  </div>
  <div class="cardetail-image">
    <img src="{{ car.imageSrc }}" />
  </div>
  <div class="cardetail-rides" *ngIf="car.reservations.length > 0">
    <div class="cardetail-rides-title">
      <h2>Ritten met deze auto</h2>
    </div>
    <div class="cardetail-rides-list">
      <div
        class="cardetail-rides-list-item"
        *ngFor="let ride of car.reservations"
      >
        <a
          routerLink="/ride/{{ ride._id }}"
          class="rideDetailButton cardetail-rides-list-item-link"
        >
          <h3>{{ ride.name }}</h3>
          <span>{{ ride.user.name }}</span>
          <span>{{ ride.beginDateTime.toLocaleDateString() }}</span>
          <span>{{ ride.beginDateTime.toLocaleTimeString() }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="cardetail-addride">
    <a routerLink="/car/{{ id }}/ride/add" class="buttonStyleForAnchor"
      >Plan een rit</a
    >
    <a
      *ngIf="car.isOwner"
      routerLink="/car/{{ id }}/edit"
      class="buttonStyleForAnchor"
      >Wijzig auto</a
    >
    <a *ngIf="car.isOwner" (click)="deleteCar()" class="buttonStyleForAnchor"
      >Verwijder auto</a
    >
  </div>
</div>
