<div class="carlist">
  <div class="carlist-title">
    <span class="carlist-title-filler"></span>
    <h1>Jouw auto's</h1>
    <a routerLink="/car/add">
      <span class="material-icons">add</span>
    </a>
  </div>
  <div *ngIf="!carsDone" class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="carlist-list">
    <div class="carlist-list-item" *ngFor="let car of cars">
      <div class="carlist-list-item-image">
        <a routerLink="/car/{{ car._id }}">
          <img src="{{ car.imageSrc }}" />
        </a>
      </div>
      <div class="carlist-list-item-info">
        <span>
          <strong>{{ car.name }}</strong>
        </span>
        <span>{{ car.plate }}</span>
      </div>
    </div>
  </div>
  <div class="carlist-title">
    <h1>Auto's van je vrienden:</h1>
  </div>
  <div *ngIf="!carsDone" class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="carlist-list">
    <div class="carlist-list-item" *ngFor="let car of friendsCars">
      <div class="carlist-list-item-image">
        <a routerLink="/car/{{ car._id }}">
          <img src="{{ car.imageSrc }}" />
        </a>
      </div>
      <div class="carlist-list-item-info">
        <span>
          <strong>{{ car.name }}</strong>
        </span>
        <span>{{ car.plate }}</span>
      </div>
    </div>
  </div>
</div>
