<div class="about">
    <div class="about-title">
        <h1>About</h1>
    </div>
    <div class="about-me">
        <h3>About me</h3>
        <span>Dit project is gemaakt door <strong>Bas Buijsen</strong>.</span>
        <br>
        <span>Studentnummer: <strong>2170769</strong></span>
    </div>
    <div class="about-project">
        <h3>About the project</h3>
        <span>Dit project heet ShareMyCar. Dit is een website waar jij je auto kan delen met je vrienden en familie. Je
            kan dan de auto reserveren voor momenten dat jij de auto wil gebruiken. Zo kan je dus nooit tegelijk plannen
            en weet je altijd wie de auto bij zich heeft. Dit project heeft ook een IOS app. Deze webapplicatie en de
            IOS app werken samen. Je kan dus beide door elkaar heen gebruiken zonder enige problemen.</span>
    </div>
    <div class="about-data">
        <div class="about-data-title">
            <h3>About the data</h3>
        </div>
        <div class="about-data-info">
            <span>Aan de rechterkant zie je het ERD van het ShareMyCar project. Er wordt gebruik gemaakt van 4
                entiteiten. Deze hebben allemaal relaties met elkaar. De uitvoering van de relatie is verduidelijkt door
                de tekst die bij de lijn staat.</span>
        </div>
        <div class="about-data-image">
            <img src="https://buijsen.net/sharemycar/smc-erd.png">
        </div>
    </div>
</div>