<div class="about">
    <div class="about-title">
        <h1>About</h1>
    </div>
    <div class="about-me">
        <h3>About me</h3>
        <span>Dit project is gemaakt door <strong>Bas Buijsen</strong>.</span>
        <br>
        <span>Studentnummer: <strong>2170769</strong></span>
    </div>
    <div class="about-project">
        <h3>About the project</h3>
        <span>Dit project heet ShareMyCar. Dit is een website waar jij je auto kan delen met je vrienden en familie. Je
            kan dan de auto reserveren voor momenten dat jij de auto wil gebruiken. Zo kan je dus nooit tegelijk plannen
            en weet je altijd wie de auto bij zich heeft. Dit project heeft ook een IOS app. Deze webapplicatie en de
            IOS app werken samen. Je kan dus beide door elkaar heen gebruiken zonder enige problemen.
            <br />
            Op <a href="https://github.com/deBasMan21">mijn GitHub</a> kun je alle projecten van ShareMyCar vinden.
        </span>
    </div>
    <div class="about-data">
        <div class="about-data-title">
            <h3>About the data</h3>
        </div>
        <div class="about-data-info">
            <span>Onder deze tekst zie je het ERD van het ShareMyCar project. Er wordt gebruik gemaakt van 4
                entiteiten. Deze hebben allemaal relaties met elkaar. De uitvoering van de relatie is verduidelijkt door
                de tekst die bij de lijn staat.</span>
            <br>
            <br>
            <span>Aan de rechterkant van deze tekst zie je een document. Je ziet hier de Car entity. Deze heeft een
                lijst met referenties naar de Ride entiteit. Dit is de lijst met de naam reservations.
                Deze Ride heeft een destination. De destination is de Location entity. Deze is embedded in Ride.
                Ook heeft de Ride een User reference. Een user heeft op zichzelf een lijst met referenties naar Car.
                En zo blijft het rondje doorgaan.</span>
            <br>
            <br>
            <img src="https://buijsen.net/sharemycar/smc-erd.png">
        </div>
        <div class="about-data-image">
            <div class="about-data-image-container">
                <img src="https://buijsen.net/sharemycar/smc-ontwerp.png">
            </div>
        </div>
    </div>
</div>