<div class="caredit">
  <div class="caredit-title">
    <h1>Wijzig auto</h1>
  </div>
  <div class="caredit-form" *ngIf="showEdit">
    <form (ngSubmit)="submit()">
      <div class="caredit-form-field">
        <label>Autonaam:</label>
        <input type="text" name="name" [(ngModel)]="car.name" />
      </div>
      <div class="caredit-form-field">
        <label>Kenteken:</label>
        <input type="text" name="plate" [(ngModel)]="car.plate" />
      </div>
      <div class="caredit-form-field">
        <label>Afbeelding link:</label>
        <input type="text" name="imgSrc" [(ngModel)]="car.imageSrc" />
      </div>
      <div class="caredit-form-field">
        <input
          type="submit"
          class="rideDetailButton"
          placeholder="Wijzig auto"
        />
      </div>
    </form>
  </div>
</div>
