<div class="caredit">
  <div class="caredit-title">
    <h1>Wijzig auto</h1>
  </div>
  <div class="caredit-form">
    <form>
      <div class="caredit-form-name">
        <label>Autonaam:</label>
        <input type="text" placeholder="name" />
      </div>
      <div class="caredit-form-plate">
        <label>Kenteken:</label>
        <input type="text" placeholder="plate" />
      </div>
      <div class="caredit-form-image">
        <label>Afbeelding link:</label>
        <input type="text" placeholder="image source" />
      </div>
      <div class="caredit-form-submit">
        <input type="submit" placeholder="Wijzig auto" />
      </div>
    </form>
  </div>
</div>
