<div class="account">
    <div class="account-title">
        <h1>Account</h1>
    </div>
    <div class="account-info">
        <h3><strong>Naam:</strong></h3>
        <h3>{{user.name}}</h3>
        <h3><strong>Email:</strong></h3>
        <h3>{{user.email}}</h3>
        <h3><strong>Telefoonnummer:</strong></h3>
        <h3>{{user.phoneNumber}}</h3>
        <h3><strong>Aantal auto's:</strong></h3>
        <h3>{{user.cars.length}} auto's</h3>
        <h3><strong>Aantal vrienden:</strong></h3>
        <h3>{{friendCount}} vrienden</h3>
        <h3><strong>Tijd tot opnieuw inloggen:</strong></h3>
        <h3>
            <span *ngIf="expireDateTime.days > 0">{{expireDateTime.days}} dag </span>
            <span *ngIf="expireDateTime.hours > 0">{{expireDateTime.hours}} uur </span>
            <span *ngIf="expireDateTime.minutes > 0">{{expireDateTime.minutes}} minuten </span>
        </h3>
    </div>
    <div class="account-actions">
        <button class="rideDetailButton buttonStyleForAnchor" (click)="logOut()">
            <h3>Log uit</h3>
        </button>
        <button class="rideDetailButton buttonStyleForAnchor" (click)="delete()">
            <h3>Verwijder account</h3>
        </button>
    </div>
</div>