<div class="navbar">
    <div class="navbar-logo">
        <a routerLink="/car">
            <img src="https://buijsen.net/sharemycar/logo-shareMyCar-dark-no-text.png">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-menu-links">
            <a routerLink="/car" class="menulink">Mijn auto's</a>
            <a routerLink="/ride" class="menulink">Mijn ritten</a>
        </div>
    </div>
    <div class="navbar-login">
        <div class="navbar-login-links">
            <a routerLink="/about" class="menulink">About</a>
            <a *ngIf="isLoggedIn() == false" routerLink="/login" class="menulink">Log in</a>
            <a *ngIf="isLoggedIn() == true" routerLink="/account" class="menulink">Account</a>
        </div>
    </div>
</div>