<div class="login">
    <div class="login-title">
        <h1>Login</h1>
    </div>
    <div class="login-form">
        <form (submit)="submit()">
            <div class="login-form-field">
                <label>Email:</label>
                <input type="email" name="email" [(ngModel)]="email">
            </div>
            <div class="login-form-field">
                <label>Wachtwoord:</label>
                <input type="password" name="password" [(ngModel)]="password">
            </div>
            <div class="login-form-field">
                <input type="submit" class="rideDetailButton">
            </div>
        </form>
    </div>
</div>