<div class="ridedetail">
  <div class="ridedetail-title">
    <h1>{{ ride.name }}</h1>
  </div>
  <div class="ridedetail-rideinfo">
    <div class="ridedetail-rideinfo-begin">
      <span><strong>Begin:</strong></span>
      <span>{{ ride.beginDateTime.toLocaleDateString() }}</span>
      <span>{{ ride.beginDateTime.toLocaleTimeString() }}</span>
    </div>
    <div class="ridedetail-rideinfo-end">
      <span><strong>Eind:</strong></span>
      <span>{{ ride.endDateTime.toLocaleDateString() }}</span>
      <span>{{ ride.endDateTime.toLocaleTimeString() }}</span>
    </div>
  </div>
  <div class="ridedetail-carinfo">
    <img src="{{ car.imageSrc }}" alt="" />
    <h3>{{ car.name }}</h3>
    <h4>{{ car.plate }}</h4>
  </div>
  <div class="ridedetail-edit">
    <a routerLink="/ride/{{ id }}/edit" class="buttonStyleForAnchor">
      Wijzig rit
    </a>
    <a (click)="deleteRide()" class="buttonStyleForAnchor">Verwijder rit</a>
  </div>
</div>