/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    margin: 0;
    height: 100%;
    width: 100%;
}

.view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menulink{
    color: white;
    font-style: normal;
    text-decoration: none;
}
.menulink:visited{
    color: white;
    font-style: normal;
    text-decoration: none;
}
.menulink:hover{
    color: grey;
    font-style: normal;
    text-decoration: underline;
}
.menulink:active{
    color: white;
    font-style: normal;
    text-decoration: none;
}