<div class="register">
    <div class="register-title">
        <h1>Registreer</h1>
    </div>
    <div class="register-form">
        <form #registerForm="ngForm" name="form" (ngSubmit)="registerForm.form.valid && submit()" novalidate>
            <div class="register-form-field">
                <label>Naam:</label>
                <input type="text" name="name" [(ngModel)]="user.name" #username="ngModel" required>
                <label class="register-form-field-validation" *ngIf="username.invalid && username.touched">Naam moet
                    ingevuld zijn</label>
            </div>
            <div class="register-form-field">
                <label>Wachtwoord:</label>
                <input type="password" name="key" [(ngModel)]="user.key" #userpassword="ngModel" required>
                <label class="register-form-field-validation"
                    *ngIf="userpassword.invalid && userpassword.touched">Wachtwoord
                    moet ingevuld zijn</label>
            </div>
            <div class="register-form-field">
                <label>Email:</label>
                <input type="text" name="email" [(ngModel)]="user.email" #useremail="ngModel" email required>
                <label class="register-form-field-validation" *ngIf="useremail.invalid && useremail.touched">Email moet
                    ingevuld zijn</label>
            </div>
            <div class="register-form-field">
                <label>Telefoonnummer:</label>
                <input validPhone type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber" #userphone="ngModel"
                    required>
                <label class="register-form-field-validation"
                    *ngIf="userphone.invalid && userphone.touched">Telefoonnummer moet
                    ingevuld zijn</label>
            </div>
            <div class="register-form-field">
                <input type="submit" class="rideDetailButton" value="Registreer" [disabled]="!registerForm.valid">
                <button routerLink="/login" class="rideDetailButton">Al een account? Inloggen</button>
            </div>
        </form>
    </div>
</div>